# Ambiente virtual
venv/

# Dataset — muito pesado para o GitHub
data/
notebooks/data/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs do YOLOv8
*.log

# Modelos treinados — arquivo grande, fica só localmente
models/soja_weed_v1/weights/last.pt

# ZIP do dataset
*.zip